.manga-card {
    /* margin: 20px; */
    padding: 10px;
    background-color: var(--background-dark);
    border: 2px solid transparent;
    border-radius: 10px;
    transition:
        0.5s background-color,
        0.5s border-color;
}
.manga-card:hover {
    background-color: var(--background-light);
    border-color: var(--primary);
}
.manga-card-cover {
    border-radius: 10px;
}
.manga-card-title {
    font-weight: bold;
}
.manga-card-author {
    font-size: 0.8em;
    color: var(--dim-text);
}
