.search-manga-card {
    padding: 10px;
    margin: 20px;
    background-color: var(--background-dark);
    border: 2px solid transparent;
    border-radius: 10px;
    transition:
        0.5s background-color,
        0.5s border-color;
}
.search-manga-card:hover {
    background-color: var(--background-light);
    border-color: var(--primary);
}
.manga-cover {
    border-radius: 10px;
}
.manga-title-label {
    font-weight: bold;
}
.manga-complement-label {
    font-size: 0.8em;
    color: var(--dim-text);
}
