@import url("./vars.css");
@import url("./home.css");
@import url("./reader.css");
@import url("./settings.css");

fiapo-window {
    background-color: var(--background-dark);
}

* {
    background: none;
    color: var(--text);
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
}

progressbar {
    min-height: 5px;
    padding: 5px 0 0 0;
}
progressbar trough {
    min-height: 5px;
}
progressbar progress {
    background-color: alpha(var(--text), 0.5);
    min-height: 5px;
    border-radius: 5px;
}

scrolledwindow {
    padding: 0px;
    margin-bottom: 20px;
}
scrolledwindow overshoot {
    background: none;
    background-color: transparent;
    outline: none;
    border: none;
}
scrolledwindow undershoot {
    background: none;
    background-color: transparent;
    outline: none;
    border: none;
}

entry {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: var(--background-light);
    transition: 0.5s background-color;
}
entry selection {
    background-color: var(--primary);
    color: var(--background-dark);
}

button label {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: var(--background-light);
    transition: 0.5s background-color;
}
button:hover label {
    background-color: var(--primary);
}

scrollbar trough {
    background-color: transparent;
    min-width: 5px;
}
scrollbar slider {
    background-color: var(--background-light);
    min-width: 5px;
    border-radius: 5px;
}

tooltip {
    padding: 10px;
    background-color: var(--background-dark);
    border: 0.5px solid var(--text);
}
