:root {
    --text: #ffffff;
    --dim-text: alpha(var(--text), 0.5);
    --primary: #de7f7f;
    --accent: #009999;
    --background-dark: #111416;
    --background-light: #222629;

    --default-padding: 10px;
}

/*
*   Animations:
*/
@keyframes shimmer {
    0% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0 0;
    }
}
